body {
  font-family: Arial;
  background: #e6edf7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

.large {
  width: 700px;
}

input, textarea {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

button {
  width: 48%;
  padding: 10px;
  margin: 10px 1%;
  border: none;
  background: #4a7de0;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
